<article class="demo-placeholder" ng-if="meData.displayName">
    <div class="ms-font-xl">Welcome {{meData.displayName}} - {{meData.userPrincipalName}}</div>
</article>
<article class="demo-placeholder" ng-if="eventsData">
    <div class="ms-font-l">Calendar Events</div>
    <ul class="ms-List" ng-repeat="event in eventsData">
        <li class="ms-ListItem">
            <span class="ms-ListItem-primaryText">{{event.subject}}</span>
            <span class="ms-ListItem-secondaryText">Meeting notes</span>
            <span class="ms-ListItem-tertiaryText">{{event.bodyPreview}}</span>
            <span class="ms-ListItem-metaText">{{event.start.dateTime | amCalendar:referenceTime:formats}}</span>
            <div class="ms-ListItem-selectionTarget js-toggleSelection"></div>
            <!--<div class="ms-ListItem-actions">
                <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--mail"></i></div>
                <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--trash"></i></div>
                <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--flag"></i></div>
                <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--pinLeft"></i></div>
            </div>-->
        </li>
    </ul>
</article>
<div ng-hide="isAuthenticated">
    <article class="demo-placeholder">
        <div class="demo-placeholder__img"></div>
        <div class="demo-placeholder__text"></div>
        <div class="demo-placeholder__text"></div>
        <div class="demo-placeholder__text"></div>
        <div class="demo-placeholder__text demo-placeholder__text--half"></div>
    </article>
    <article class="demo-placeholder">
        <div class="demo-placeholder__text"></div>
        <div class="demo-placeholder__text demo-placeholder__text--half"></div>
    </article>
    <article class="demo-placeholder">
        <div class="demo-placeholder__text"></div>
        <div class="demo-placeholder__text"></div>
        <div class="demo-placeholder__text"></div>
        <div class="demo-placeholder__text demo-placeholder__text--half"></div>
    </article>
    <article class="demo-placeholder">
        <div class="demo-placeholder__text demo-placeholder__text--half"></div>
        <div class="demo-placeholder__text demo-placeholder__text--para"></div>
    </article>
    <article class="demo-placeholder">
        <div class="demo-placeholder__text demo-placeholder__text--half"></div>
        <div class="demo-placeholder__text demo-placeholder__text--para"></div>
    </article>
    <article class="demo-placeholder" ng-init="init()">

        <button ng-click="startLogin()" class="ms-Button ms-Button--primary" id="login-button">
            <span class="ms-Button-label">Login with Office 365</span>
            <span class="ms-Button-description">Use your Office 365 credentials to authenticate</span>
        </button>
    </article>
</div>