<div class="ms-font-xl">{{title}}</div>

<div ng-init="init()">
    <article class="demo-placeholder" ng-if="meData.displayName">
        <div class="ms-font-l">
            Welcome {{meData.displayName}} - {{meData.userPrincipalName}}
            <button class="ms-Button ms-Button--command" ng-click="logout()"> 
                <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--lock"></i></span> 
                <span class="ms-Button-label">Sign out</span> 
            </button>

        </div>
    </article>


    <article class="demo-placeholder">
        <div class="ms-font-l">Calendar Events</div>
        <div class="ms-font-s">
            Events loaded: <span am-time-ago="eventsLoadedOn"></span>
            <a href="javascript:;" ng-click="loadEvents()"><i class="ms-Icon ms-Icon--refresh" aria-hidden="true"></i></a>
        </div>
        <div>
            <div style="clear:left;margin-top:4px;border-bottom:1px solid;padding-bottom:4px" class="ms-borderColor-purple" ng-repeat="event in eventsData">
                <div style="float:left; width: 80px;text-align:center;padding-right: 4px">
                    <div class="ms-font-l ms-fontColor-neutralLighter ms-bgColor-purple">{{event.start.dateTime | amDateFormat:'MMM'}}</div>
                    <div class="ms-font-xxl ms-fontColor-purple">{{event.start.dateTime | amDateFormat:'DD'}}</div>
                </div>
                <div style="margin-left:80px;padding:0 4px;">
                    <div class="ms-font-m ms-fontWeight-semibold">{{event.subject}}</div>
                    <div class="ms-font-s-plus">{{event.start.dateTime | amDateFormat:'h:mm a'}}</div>
                    <div class="ms-font-mi" ng-if="event.bodyPreview">{{event.bodyPreview | limitTo:100 }}</div>
                </div>
            </div>
        </div>
    </article>

</div>